@import "tailwindcss";

:root {
  --background: #fcfbfd;
  --foreground: #25232a;

  --lavender: #e9e1f5;
  --lavender-dark: #8b78a8;

  --brand-blue: #ddf7fa;

  --border: #e7e3ea;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-lavender: var(--lavender);
  --color-lavender-dark: var(--lavender-dark);
  --color-brand-blue: var(--brand-blue);
  --color-border: var(--border);

  --font-sans: var(--font-anuphan);
}

* {
  font-family: var(--font-anuphan), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}